.modal-footer {
  border-top: none !important;
  display: block !important;
}
.modal-footer .one {
  display: flex;
  justify-content: space-between;
  align-items: center;

  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 8px 0px;
}
.modal-footer .one p {
  margin: 0;
  font-weight: 900;
}
.modal-footer .close {
  background-color: white;
  border: 1px solid #8e1717;
  border-radius: 20px;
  padding: 2px 20px;
  color: #8e1717;
  margin: 0px 5px;
}

.modal-footer .order {
  color: white;
  background-color: #8e1717;
  border-radius: 20px;
  padding: 3px 20px;
  border: none;
}
